{% extends 'base.html' %}

{% block title %}
    Copyright - CVPro
{% endblock %}

{% block content %}
  <section class="content-block">
    <div class="text-block">
      <h1 class="title-style-ej">Derechos de Autor</h1>
      <p>© 2024 CVPro. Todos los derechos reservados.</p>
      <p>Se prohíbe la reproducción, distribución o modificación de cualquier parte de este sitio sin la autorización expresa de CVPro. El uso no autorizado puede resultar en sanciones legales.</p>
    </div>
  </section>
{% endblock %}
