{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
  {{ super() }}
{% endblock %}

{% block content %}
<header class="header">
  <div class="container">
      <h1 class="title-style">CVPro.ar</h1>
      <nav>
          <a href="#ejemplos" class="btn">Ejemplos</a>
          <a href="#contacto" class="btn">Contacto</a>  
      </nav>
  </div>
</header>

<section class="hero">
    <div class="hero-text">
        <h1>Transforma Tu Futuro con un CV Profesional</h1>
        <p>Ofrecemos un servicio personalizado de creación de CVs que resalta tus habilidades y experiencias. ¡Contáctame y da el primer paso hacia tu próximo empleo!</p>
    </div>
</section>

<section class="description-section">
  <div class="container">
    <div class="text-wrapper">
      <h2 class="section-title">Transforma Tu Futuro con un CV Profesional</h2>
      <p class="section-text">
        Creemos en la personalización y la excelencia, por eso trabajamos contigo hasta que estés completamente satisfecho con tu CV. Ofrecemos correcciones ilimitadas y un acompañamiento cercano para asegurarnos de que el resultado final te haga sentir seguro y preparado para aplicar a las oportunidades que deseas.
      </p>
      <p class="section-text">
        Dale el primer paso hacia tu próximo empleo con un CV que marca la diferencia. ¡Estamos aquí para ayudarte a alcanzar tus metas profesionales!
      </p>
    </div>
  </div>
</section>


<section class="Section">
  <h2 class="title-style" id="ejemplos">Ejemplos <p>en canvas</p></h2>
  <div class="grid-container">
    {% for item in items %}
    <div class="cv-item">
        <img src="{{ item }}" data-image="{{ item }}" alt="CV {{ loop.index }}">
    </div>
    {% endfor %}
  </div>
</section>

<footer class="contact" id="contacto">
  <div>
    <a href="https://wa.me/541135678515" class="whatsapp-btn">Contáctame para comenzar tu CV</a>
    <p>+54 11 356 78515 | facuthis@gmail.com</p>
    <p><a href="{{ url_for('copyright') }}">Copyright</a> | <a href="{{ url_for('legales') }}">Legales</a> | <a href="{{ url_for('vision') }}">Vision</p>
  </div>
  </footer>

<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>

{% endblock %}
