{% extends 'base.html' %}

{% block title %}
    Términos Legales - CVPro
{% endblock %}

{% block content %}
  <section class="content-block">
    <div class="text-block">
      <h1>Objetivo </h1>
      <p>Facilitar a los clientes una desarrollo a medida su currículum, garantizando su satisfacción mediante un servicio detallado, cercano a las necesidades de mis clientes, proporcionando correcciones ilimitadas y un compromiso genuino con sus sueños y objetivos profesionales. Al mismo tiempo, deseo brindar oportunidades para que ellos también puedan ser parte de nuestro crecimiento, beneficiándose económicamente al promover nuestro servicio.
        </p>
    </div>
  </section>
{% endblock %}